$color-container-background: #212121;
$color-container-foreground: #d4d4d4;

$color-overlay-background: #282828;
$color-overlay-foreground: #ffffff;

$color-primary: #2980b9;
$color-primary-contrast: #ffffff;


$color-green: #27ae60;
$color-blue: #2980b9;
$color-purple: #8e44ad;
$color-yellow: #f1c40f;
$color-orange: #d35400;
$color-red: #c0392b;
$color-grey: #7f8c8d;