<ul class="navigation">
	<li class="navigation__item" routerLinkActive="navigation__item--active"><a class="navigation__anchor" routerLink="/project">Project</a></li>
	<li class="navigation__item" routerLinkActive="navigation__item--active"><a class="navigation__anchor" routerLink="/image-list">Images</a></li>
	<li class="navigation__item" routerLinkActive="navigation__item--active"><a class="navigation__anchor" routerLink="/theme">Theme</a></li>
	<li class="navigation__item" routerLinkActive="navigation__item--active"><a class="navigation__anchor" routerLink="/empty">Empty page</a></li>
</ul>